/* style={{ fontSize: "24px", marginBottom: "30px", marginTop: "30px" }} */

.editPenjahit__top {
  width: 100%;
  font-size: 24px;
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.editPenjahit__form {
  background-color: white;
  border-radius: 10px;
  height: 80vh;
  width: 50vw;
  border: 1px solid gray;
  padding: 30px;
}

.editPenjahit__userInfo {
  margin-bottom: 20px;
}

.editPenjahit__userInfo > p,
.editPenjahit__contactInfoTop > p {
  color: #266679;
  margin-bottom: 15px;
}

.editPenjahit__userInfoNama {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}

.editPenjahit__contactInfoTop {
}

.editPenjahit__contactInfoBottom {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
