.penjahitModal__name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.penjahitModal__description {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-top: 10px;
}

.penjahitModal__address {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
}

.penjahitModal__price {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
}
