.penjahitModal__name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.penjahitModal__description,
.penjahitModal__address,
.penjahitModal__price,
.penjahitModal__location,
.penjahitModal__status {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
}
