/* style={{ fontSize: "24px", marginBottom: "30px", marginTop: "30px" }} */

.penjahit__up {
  width: 100%;
  font-size: 24px;
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.penjahit__thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

.penjahit__thumbnailContainer {
  margin-right: 10px;
}

.penjahit__thumbnailName {
  color: black;
}

.penjahit__actionButton {
  display: flex;
  align-items: center;
  justify-content: center;
}
